---
import Layout from "../layouts/Layout.astro";
import { LoginForm } from "../components/features/auth/LoginForm";
---

<Layout title="Logowanie">
  <div class="flex h-full items-center justify-center">
    <LoginForm client:load />
  </div>
</Layout>
