---
import Layout from "../layouts/Layout.astro";
import { ResetPasswordForm } from "../components/features/auth/ResetPasswordForm";
---

<Layout title="Resetowanie hasła">
  <div class="flex h-full items-center justify-center">
    <ResetPasswordForm client:load />
  </div>
</Layout>
